:root {
  box-sizing: border-box; 
}

*,
::before,
::after {
  box-sizing: inherit; 
} 

.navbar {
    margin: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

ul {
    margin-top: 0.5em;
    list-style: none;
    background-color: red;
}

li {
    display: inline-block;
    padding: 0.2em;
}

.brand {
    padding: 0.5em;
    flex-basis: 90%;
}

.pizzaBrand {
    width: 2em;
    padding: 0.5em;
}

.categories {
    flex-basis: 100%;
    padding: 0;
}

.cartWidget {
    align-self: center; 
    flex-basis: 10%;
}

.cartIcon {
    width: 2em;
}

.greeting {
    text-align: center;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px 20px;
    background-color: white;
}

.item {
    padding-left: 1em;
    border: 1px solid black;
    width:  20vh;  
    height: 25vh;
}

.item--img {
    padding-top: 1em;
    max-width:   80%;  
    max-height:  50%;  
}

.item--title {
    font-weight: bolder;
}

.item--price {
    color: red;
}
