:root {
  box-sizing: border-box; 
}

*,
::before,
::after {
  box-sizing: inherit; 
} 

.navbar {
    margin: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

ul {
    margin-top: 0.5em;
    list-style: none;
    background-color: red;
}

li {
    display: inline-block;
    padding: 0.2em;
}

.brand {
    padding: 0.5em;
    flex-basis: 90%;
}

.pizzaBrand {
    width: 2em;
    padding: 0.5em;
}

.categories {
    flex-basis: 100%;
    padding: 0;
}

.cartWidget {
    align-self: center; 
    flex-basis: 10%;
}

.cartIcon {
    width: 2em;
}

.greeting {
    text-align: center;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px 20px;
    background-color: white;
}

.item {
    padding-left: 1em;
    border: 1px solid black;
    width:  20vh;  
    height: 35vh;
}

.item--img {
    padding-top: 1em;
    max-width:   80%;  
    max-height:  50%;  
}

.item--title {
    font-weight: bolder;
}

.item--price {
    color: red;
}

.item-detail {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap ;
    margin: 0 auto;
    width: 70%;
}

.item-detail--heading {
    text-align: center;
    width: 100%;
}

.item-detail--img {
    margin: 1em;
    max-width: 60%;
}

.active {
    background-color: #FEF9A7; 
    border: none;
    border-radius: 5px;
    color: ;
    padding: 0.8em 1.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
}

.inactive {
    background-color: #EEEEEE; 
    border: none;
    border-radius: 5px;
    color: black;
    padding: 0.8em 1.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9em;
}

.loading {
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
    padding: 1em;
}

.empty {
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
    padding: 1em;
}

.counter {
    width: 12vw;
}

.counter--controls  {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.counter--button {
    width: 100%;
}

